@media (max-width: 1300px) {
    nav .container img{
        width: 90%;
    }
    nav .container .links ul{
        display: none;
    }
    .sc-carousel .sc-carousel-inner .sc-carousel-item .sc-carousel-caption h1{
    font-size: 40px;
}
.sc-carousel .sc-carousel-inner .sc-carousel-item .sc-carousel-caption p{
    font-size: 12px;
    text-align: center;
}
.sc-carousel .sc-carousel-inner .sc-carousel-item .sc-carousel-caption a{
    font-size: 12px;
    padding: 10px 20px;
}
.next , .prev{
    display: none;
}
.popup[data-popup-name="navbar"] .box{
    width: 300px;
}
.popup[data-popup-name="book"] .part{
    width: 100%;
}
.popup[data-popup-name="book"] h2{
    font-size: 25px;
}
.popup[data-popup-name="book"] .row a{
    font-size: 12px;
    width: 80% !important;
}

    #About .content p{
    width: 90%;
    text-align: center;
}
#About .box{
    margin: 20px 0px;
}
    #Story{
    padding: 60px 0px;
}
#Story .box1 {
    padding: 30px 0px;
}
    #Story .box1 h2{
    font-size: 30px;
}
#Story .box1 p{
font-size: 14px;
}
#Story .box1 a{
    font-size: 12px;
    padding: 12px 20px;
}
#Story .box2{
    padding: 30px 10px;
    width: 280px;
    margin: auto;
}
#Story .box2 .img-right,
#Story .box2 .img-center{
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;               
    translate: 30% -50%;    
}
#Story .box2 .item .img-bottom1{
    width: 80px;
    position: absolute;
    bottom:20% ;
    right:70%;
    transform: translate(-30% , 50%);
}
#Story .box2 .item .img-bottom2{
    position: absolute;
    bottom: 20%;
    right: 70%;
    width: 200px;
    transform: translate(20% ,50%);
}

    #Special .box2 .item{
    padding: 30px 0px;
    width: 250px;
    margin: auto;
}
#Special .box2 .item h2{
    font-size: 30px;
}
#Special .box2 .item .icon{
    left: -15%;
}
#Special .box2 .item p{
font-size: 14px;
}
#Special a{
    font-size: 12px;
}

    #Menu .container h2{
    font-size: 30px;
}
#Menu .nav.nav-pills{
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
}
#Menu .nav.nav-pills .nav-item{
    font-size: 15px;
    flex-shrink: 0;
}
#Menu .box .item{
    width: 100%;
    margin: auto;
}
#Menu .part .head span{
    display: none;
}

    #Chefs h2{
    font-size: 25px;
}
#Chefs .box .item{
    width: 280px;
    margin: auto;
}

    #Contact .box{
        width: 280px;
    }
    #Contact .box .head p{
    font-size: 12px;
}
    #Contact .box .body{
    padding: 10px;
}
    #Contact .box .body form .inputs{
    display: flex;
    flex-direction: column;
}
#Contact .box .body form .inputs input{
    margin: 10px;
}
#Contact .box .body a{
    font-size: 12px;
}
}

@media (min-width: 371px) and (max-width: 1300px) {
     #Contact .box{
        width: 300px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
        .sc-carousel .sc-carousel-inner .sc-carousel-item .sc-carousel-caption h1{
    font-size: 50px;
}
.sc-carousel .sc-carousel-inner .sc-carousel-item .sc-carousel-caption p{
    font-size: 15px;
    text-align: center;
}
.sc-carousel .sc-carousel-inner .sc-carousel-item .sc-carousel-caption a{
    font-size: 15px;
    padding: 15px 30px;
}
    .popup[data-popup-name="book"] .part{
    width: 500px;
}
    #Special .box2 .item{
    padding: 30px 0px;
    width: 450px;
    margin: auto;
}
    #Menu .nav.nav-pills{
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
}
#Menu .photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Menu .photo .item {
    width: 80px;
    height: 80px;
    
}
    #Menu .box .item{
    width: 90%;
    margin: auto;
}
     #Contact .box{
        width: 350px;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    .sc-carousel .sc-carousel-inner .sc-carousel-item .sc-carousel-caption h1{
    font-size: 60px;
}
.sc-carousel .sc-carousel-inner .sc-carousel-item .sc-carousel-caption p{
    font-size: 18px;
    text-align: center;
}
    #Special .box2 .item{
    padding: 30px 0px;
    width: 280px;
    margin: auto;
}
    #Chefs .box .item{
    width: 100%;
    margin: auto;
}
     #Contact .box{
        width: 450px;
    }
        #Contact .box .body form .inputs{
    display: flex;
    flex-direction: row;
}
#Contact .box .body a{
    font-size: 15px;
}
}

@media (min-width: 992px) and (max-width: 1300px) {
    #About .content p{
    width: 40%;
    text-align: center;
}
    #Story .box1 a{
    font-size: 15px;
    padding: 12px 20px;
}
    #Story .box2{
    padding: 30px 10px;
    width: 350px;
    margin: auto;
}
    #Special .box2 .item{
    padding: 30px 0px;
    width: 350px;
    margin: auto;
}

}

@media (min-width: 1181px) and (max-width: 1300px) {

}